html                                    { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
*, *:before, *:after                    { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
* :focus,
* :active                               { outline: none !important; -moz-outline-style: none; }

body                                    { font: normal normal 400 16px/1.6 'PT Sans', Helvetica, Arial, Verdana, sans-serif; color: #3C4245; background:#FDFDFD; }
@media (min-width: 768px) {
    body                                { font-size: 24px; }
}
h1                                      { font: normal normal 400 4.236em/1.2 'PT Sans', Helvetica, Arial, Verdana, sans-serif; color:#FCE9A1; margin: 0; }
h2                                      { font: normal normal 400 1em/1.2 'PT Sans', Helvetica, Arial, Verdana, sans-serif; margin: 0 0 2em 0; }
h3                                      { font: normal normal 700 1.333em/1.2 'PT Sans', Helvetica, Arial, Verdana, sans-serif; margin: 1em 0; }
h3 span                                 { font-weight: 400; }
a                                       { text-decoration: none; color: inherit; }
a[data-sidenote]                        { font-weight: 700; text-decoration: underline; }
a[data-sidenote]:hover                  { color: #FF6600; }
p                                       { font-size: 16px; margin: 0 0 1em 0; }
@media (min-width: 768px) {
    p                                   { font-size: 19px; }
}

.page                                   { padding: 32px; }
@media (min-width: 768px) {
    .page                               { padding:3em; max-width: 880px; margin: 0 auto; }
}

header                                  { text-align: center; padding: 0 0 2em 0; }
.documentation p span                   { font-size: .75em; background: #EAEAEA; padding: .25em; }

.github                                 { background: url("../images/github.png")center center no-repeat; height: 48px; width: 48px; background-size: contain; opacity: .75; transition: opacity 1.25s ease; display: block; margin: 0 auto; }
.github:hover                           { opacity: .5; }

/* recommended
--------------------------------------------- */
.sidenote                               { border-left:1px solid #333; }
.sidenote                               { display: flex; display: -webkit-flex; display: -ms-flexbox; align-items: center; -webkit-align-items: center; justify-content:center; -webkit-justify-content:center; -ms-flex-pack:justify; }
.sidenote .-inner                       { padding: 3em 2em; position: relative; }
.sidenote .-inner p > strong            { color: #FF6600; }
.sidenote .-close                       { position: absolute; top: 18px; right: 18px; background: url("../images/close.png") 0 0 no-repeat; background-size: contain; width: 34px; height: 34px; transition: opacity .5s; }

/* helper
--------------------------------------------- */
.text-hide                              { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }